submit.tar.gz
submit.tar.xz
starter_files.tar.gz
starter_files.tar.xz
/wardrobe/html/
/hello/html/
/hello_css/html/
*.pem
*.db
var/
node_modules/
cookies.txt
session.json
bundle.js
*.js.map
**/e2e/test_cypress_hello.cy.js
**/cypress/videos
**/cypress/screenshots
tmp
output
output*
total_document_count.txt
*/hadoop/inverted_index/inverted_index.txt
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache
bundle.js
*node_modules*
files_for_autograder_io/
*/var/*
.vagrant/
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea
*.DS_Store
Icon
.dropbox*
