absl-py==2.0.0
annotated-types==0.6.0
anyio==3.7.1
arrow==1.2.3
astroid==2.15.7
astunparse==1.6.3
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
dill==0.3.7
distro==1.8.0
Flask==2.3.3
flatbuffers==23.5.26
fonttools==4.44.3
gast==0.5.4
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
grpcio==1.59.3
h11==0.14.0
h5py==3.10.0
html5validator==0.4.2
httpcore==1.0.2
httpx==0.25.1
idna==3.4
iniconfig==2.0.0
-e git+ssh://git@github.com/qwopp/ai-wardrobe.git@6f0791ae7a03edc870b6e64e921507f00e71fd43#egg=insta485
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
keras==2.15.0
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
libclang==16.0.6
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
mccabe==0.7.0
ml-dtypes==0.2.0
numpy==1.26.2
oauthlib==3.2.2
openai==1.3.3
opt-einsum==3.3.0
packaging==23.1
Pillow==10.1.0
platformdirs==3.10.0
pluggy==1.3.0
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pydantic==2.5.1
pydantic_core==2.14.3
pydocstyle==6.3.0
pylint==2.17.5
pyparsing==3.1.1
pytest==7.4.2
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.3.0
tomlkit==0.12.1
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.5
-e git+ssh://git@github.com/qwopp/ai-wardrobe.git@6f0791ae7a03edc870b6e64e921507f00e71fd43#egg=wardrobe
Werkzeug==2.3.7
wrapt==1.14.1
