
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wardrobe</title>
  <link href="{{ url_for('static', filename='css/create.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div>
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="50" height="50">
    <a href="/">Home page</a>
    <a href="/users/{{logname}}/">{{logname}}</a>
  </div>
<form action="/accounts/?target={{url_for('show_index')}}" method="post" enctype="multipart/form-data">
<div>
    Photo <input type="file" name="file" required/>
</div> 
<div>
    Name <input type="text" name="fullname" required/>
</div>
<div>
    Username <input type="text" name="username" required/>
</div>
<div>
    Email <input type="text" name="email" required/>
</div>
<div>
    Password <input type="password" name="password" required/>
</div>
  <input type="submit" name="signup" value="sign up"/>
  <input type="hidden" name="operation" value="create"/>
</form>
<p>Have an account? <a href="/accounts/login/">Log in</a></p>
</body>
</html>
