<!DOCTYPE html>
<html lang="en">
<head>
  <title>wonder</title>
  <link href="{{ url_for('static', filename='css/edit_password.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div>
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="50" height="50">
    <a href="/">Home page</a>
    <a href="/users/{{logname}}/">{{logname}}</a>
  </div>
<form action="/accounts/?target={{url_for('edit_account')}}" method="post" enctype="multipart/form-data">
  <div>
  Old password  <input type="password" name="password" required/>
  </div>
  <div>
  New password  <input type="password" name="new_password1" required/>
  </div>
  <div>
  New password, again  <input type="password" name="new_password2" required/>
  </div>
  <div>
    <input type="submit" name="update_password" value="submit"/>
  </div>
  <input type="hidden" name="operation" value="update_password"/>
</form>
<a href = "{{url_for('edit_account')}}">Back to edit account</a>

</body>
</html>
