
<!DOCTYPE html>
<html lang="en">
<head>
  <title>wardrobe</title>
  <link href="{{ url_for('static', filename='css/create.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div>
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="50" height="50">
    <a href="/">Home page</a>
    <a href="/users/{{logname}}/">{{logname}}</a>
  </div>
<form action="/accounts/?target={{url_for('edit_account')}}" method="post" enctype="multipart/form-data">
    <div>
    Photo    <input type="file" name="file" accept="image/*"/>
    </div>
    <div>
    Name    <input type="text" name="fullname" value="{{fullname}}" required/>
    </div>
    <div>
    Email    <input type="text" name="email" value="{{email}}" required/>
    </div>
  <input type="submit" name="update" value="submit"/>
  <input type="hidden" name="operation" value="edit_account"/>
</form>
<div>
    <a href = "/accounts/password/">Change password</a>
</div>
<div>
    <a href = "/accounts/delete/">Delete account</a>
</div>
</body>
</html>
