<!DOCTYPE html>
<html lang="en">
<head>
  <title>wardrobe</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class = "welcome user">
    <a href="/users/{{logname}}/">{{logname}}</a>
  </div>
  <div class = "logoclass">
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="200" height="200">
  </div>
  <form class="box" method="post" action="" enctype="multipart/form-data">
    <div class="box__input">
      <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
        <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
        <button class="box__button" type="submit">Upload</button>
      </div>
      <div class="box__uploading">Uploading…</div>
      <div class="box__success">Done!</div>
    <div class="box__error">Error! <span></span>.</div>
  </form>
  <div id="reactEntry">
    Loading ...
  </div>
  <!-- Load JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>