<!DOCTYPE html>
<html lang="en">
<head>
  <title>wardrobe</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class = "welcome user">
    <a href="/users/{{logname}}/">{{logname}}</a>
  </div>
  <div class = "logoclass">
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="200" height="200">
  </div>
  
  <div id="reactEntry">
    Loading ...
  </div>
  <!-- Load JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>