<!DOCTYPE html>
<html lang="en">
<head>
  <title>wardrobe</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div>
    <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="50" height="50">
    <a href="/">Home page</a>
    <a href = "/explore/">Explore</a>
    <a href="/users/{{logname}}/">{{logname}}</a>
  </div>
<form action="/accounts/?target={{url_for('show_index')}}" method="post" enctype="multipart/form-data">
  <input type="text" name="username" required/>
  <input type="password" name="password" required/>
  <input type="submit" value="login"/>
  <input type="hidden" name="operation" value="login"/>
</form>
<p>Don't have an account? <a href="/accounts/create/">Sign up</a></p>
</body>
</html>