<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wardrobe</title>
  <link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Wardrobe logo" width="200" height="200">
      <a href="/">Home page</a>
      <h1>{{ user_info.username }}</h1>
      {% if logname == user_info.username %}
        <a href="/accounts/edit/">Edit profile</a>
        <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
          <input type="submit" name="logout" value="Logout"/>
        </form>
      {% endif %}
      <h3>{{ user_info.fullname }}</h3>
    </div>
    
  </div>


  <!-- Load JavaScript -->
  <div id="reactEntry"></div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>
